.creatureListElement {
    align-items: center;
    border-radius: 10px;
    background-color: #C5C6D0;
    color: #232023;
    display: flex;
    justify-content: space-between;
    margin: 0.25rem;
    margin-bottom: 0.125px;
    padding: 0.25rem;
    padding-left: 0.75rem;
}

.creatureListHolder {
    background-color: white;
    overflow: auto;
    max-height: 40vh;
    max-width: 100%;
    list-style: none;
    // &::-webkit-scrollbar {
    //     display: none;
    // }
}