.creatureListElement {
    align-items: center;
    background-color: #fcf0cfCC;
    color: #232120;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.25rem;
    padding-inline: 1rem;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #232023;
    font-size: calc(0.625rem + 2vmin);

    :last-of-type{
        border: none;
    }
}

.creatureListHolder {
    // background-color: white;
    overflow: auto;
    max-height: 40vh;
    max-width: 100%;
    list-style: none;
    // &::-webkit-scrollbar {
    //     display: none;
    // }
}