.navMain{
    position: sticky;
    top: 0;
    box-sizing: border-box;
    font-size: calc(2rem + 2vmin);
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: #FDFDFD;
    box-shadow: 0.625rem 0 2rem #000000;
    text-shadow: 0.0625rem 0.0625rem 0 #000000;
    
    
    span{
        color: gold;
        
    }
}